<ion-app>

  <div class="ion-page" >


    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Bajas</ion-title>
      </ion-toolbar>
      <ion-searchbar animated (ionChange)="search($event)"></ion-searchbar>
    </ion-header>
    <ion-content>

<ion-list *ngFor="let element of comida | filtro: searchComida">
  <ion-item-sliding>
    <ion-item class="ion-text-capitalize">
      <div class="col-1">
        <img class="img" src="{{element.productos.Url2}}" alt=""/>
      </div>
      <div class="col-2">
        <ion-label>ID: {{element.id}}</ion-label>
        <br>
        <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
        <br>
        <ion-label class="ion-text-wrap">Departamento: Comida</ion-label>
      </div>
      <div class="col-3">
        <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
        <br/>
        <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
        <br/>
        <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
        <br/>
        <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
      </div>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-button fill="clear" (click)="delelecliente1(element.id, element.productos.Url)">
          <ion-icon color="light" name="trash"></ion-icon>
        </ion-button>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
      <ion-list *ngFor="let element of ropa | filtro: searchRopa" >
        <ion-item-sliding>
          <ion-item class="ion-text-capitalize">
            <div class="col-1">
              <img class="img" src="{{element.productos.Url2}}" alt="">
            </div>
            <div class="col-2">
              <ion-label>ID: {{element.id}}</ion-label>
              <br>
              <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
              <br>
              <ion-label class="ion-text-wrap">Departamento: Ropa</ion-label>
            </div>
            <div class="col-3">
              <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
              <br/>
              <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
              <br/>
              <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
              <br/>
              <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
            </div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-button fill="clear" (click)="delelecliente2(element.id, element.productos.Url)">
                <ion-icon color="light" name="trash"></ion-icon>
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-list *ngFor="let element of pape| filtro: searchPape" >
        <ion-item-sliding>
          <ion-item class="ion-text-capitalize">
            <div class="col-1">
              <img class="img" src="{{element.productos.Url2}}" alt="">
            </div>
            <div class="col-2">
              <ion-label>ID: {{element.id}}</ion-label>
              <br>
              <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
              <br>
              <ion-label class="ion-text-wrap">Departamento: Papeleria</ion-label>
            </div>
            <div class="col-3">
              <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
              <br/>
              <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
              <br/>
              <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
              <br/>
              <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
            </div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-button fill="clear" (click)="delelecliente3(element.id, element.productos.Url)">
                <ion-icon color="light" name="trash"></ion-icon>
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-list *ngFor="let element of electric| filtro: searchElectric" >
        <ion-item-sliding>
          <ion-item class="ion-text-capitalize">
            <div class="col-1">
              <img class="img" src="{{element.productos.Url2}}" alt="">
            </div>
            <div class="col-2">
              <ion-label>ID: {{element.id}}</ion-label>
              <br>
              <ion-label class="ion-text-wrap">{{element.productos.Nombre}}</ion-label>
              <br>
              <ion-label class="ion-text-wrap">Departamento: Electronicos</ion-label>
            </div>
            <div class="col-3">
              <ion-label>Precio: ${{element.productos.Precio}}</ion-label>
              <br/>
              <ion-label>Menudeo: ${{element.productos.PrecioMay}}</ion-label>
              <br/>
              <ion-label>Mayoreo: ${{element.productos.PrecioMen}}</ion-label>
              <br/>
              <ion-label>Stock: {{element.productos.Stock}} Pza(s)</ion-label>
            </div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-button fill="clear" (click)="delelecliente4(element.id, element.productos.Url)">
                <ion-icon color="light" name="trash"></ion-icon>
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-content>
  </div>
</ion-app>
