<ion-app>
    <div class="ion-page" >
        <ion-header>
            <ion-toolbar color="secondary">
                <ion-buttons slot="start">
                    <ion-back-button defaultHref="/"></ion-back-button>
                </ion-buttons>
                <ion-title>Report</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <button ion-button full (click)="createPDFfood()">Food Report</button>
        <br>
            <button ion-button full (click)="createPDFelectronics()">Electronics Report</button>
            <br>
            <button ion-button full (click)="createPDFstationery()">Stationery Report</button>
            <br>
            <button ion-button full (click)="createPDFclothes()">Clothes Report</button>
            <br>

            <button ion-button full >Daily Sales Report</button>
        </ion-content>
    </div>
</ion-app>
