.col-1 {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.col-2 {
  width: 40%;
  text-align: center;
}
.col-3 {
  width: 30%;
  text-align: center;
}
